<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
        <title>{{ title }}</title>
        <style>
            body{
                background-color: #34383D; /* Цвет фона веб-страницы */
                }
            .rightstr {
                float: right;
                font-size: 150%;
                margin-right: 10%;
            }
        </style>
    </head>
    <body>
        <!--
        <div style="width: 100%" class="alert alert-dark" >
            <form method="post" action="{{ url_for('work_base_app') }}">
                <button name="btn" value = "root" type="submit"
                    style="background-color: inherit; outline: 0; border: 0; margin-left: 50px; font-size: 250%;">
                   777
                </button>
                <div style="background-color: #000000" align="center" class="rightstr">
                    {% if current_user.is_authenticated %}
                        <h4> Пользователь: {{current_user.name}} </h4>
                            <button style="float: right;" name='btn' value = "exit" type="submit" class="btn btn-primary">Выход</button>

                    {% else %}
                        <button name='btn' value = "entrance" type="submit" class="btn btn-primary">Вход</button>
                        <button name='btn' value = "registration" type="submit" class="btn btn-primary">Регистрация</button>
                    {% endif %}
                </div>
            </form>
        </div> -->

        <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #e6e6e6;">
  <div class="container-fluid">
      <form method="post" action="{{ url_for('work_base_app') }}">
          <button name="btn" value = "root" type="submit"
                   style="background-color: inherit; outline: 0; border: 0;font-size: 130%;">
                   777
          </button>
      </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form method="post" action="{{ url_for('work_base_app') }}" class="d-flex">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              {% if current_user.is_authenticated %}
                    <a class="btn bg-transparent disabled"> Пользователь: {{current_user.name}} </a>
                    <a class="btn bg-transparent disabled"> Бюджет: {{current_user.money}} </a>
                    <button style="float: right;" name='btn' value = "exit" type="submit" class="btn btn-outline-success">Выход</button>

              {% else %}
                <button name='btn' value = "entrance" type="submit" class="btn btn-outline-success">Вход</button>
                <button name='btn' value = "registration" type="submit" class="btn btn-outline-dark">Регистрация</button>
              {% endif %}

          </div>
      </form>
    </div>
  </div>
</nav>


        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>

    </body>
</html>