<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <title>Email confirmed</title>
        <style>
            body {
                background-image: url("https://krot.info/uploads/posts/2020-01/1579328340_54-104.jpg");
                }
        </style>

    </head>
    <body>
        <div style="https://krot.info/uploads/posts/2020-01/1579328340_54-104.jpg"></div>
        <div class="alert alert-success" role="danger" align="center">
            <h1>Ваша почта успешно подтверждена!</h1>
        </div>
        <a type="button" class="btn btn-success btn-lg" href={% redirection %} role="button">Подтвердить</a>
    </body>
</html>
