{% extends "base.html" %}

{% block content %}

<html>
<head>
    <meta charset="UTF-8">

    <title>sign_in_form</title>

    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/forgot_password.css')}}">


</head>

<body>
    <div align="center" id="wrapper">
        <h1 align="center">Изменение пароля</h1>
        <form style="margin-top: 25px;" id="signin" method="post" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            {{ form.email(type="text", placeholder="Логин") }}
            <p>{{ form.submit(style="margin-top: 15px;", type="submit", class="btn btn-primary") }}</p>
            <div style="margin-top: 5px; color: #FFFFFF">{{ message }}</div>

        </form>
    </div>


</body>
</html>
{% endblock %}