{% extends "base.html" %}

{% block content %}

<html>
<head>
    <meta charset="UTF-8">

    <title>registration_form</title>

    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/registration.css')}}">


</head>

<body>
    <div align="center" id="wrapper">
        <h1 style="margin-left: 38px;" align="center">Регистрация</h1>
        <form  style="margin-top: 25px;" id="registration" method="post" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token', 'submit', 'is_job_finished'] %}
                    {{ field(type='text', placeholder = field.name) }}<br>
                    {% for error in field.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
            {% endfor %}
            <!--<input type="password" id="pass" name="pass" placeholder="Пароль"/> !-->
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div style="margin-top: 5px; color: #FFFFFF">{{ message }}</div>

        </form>
    </div>


</body>
</html>
{% endblock %}